@model PAUP_zgrade.Models.zgrada

@{
    ViewBag.Title = "Detalji o zgradi";
}

<h2>Detalji o zgradi</h2>

<div>
    <h4>@Html.LabelFor(model => model.idzgrada) @Html.DisplayFor(model => model.idzgrada)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postanskibroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postanskibroj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Promjena podataka", "Edit", new { id = Model.idzgrada }) |
    @Html.ActionLink("Natrag  na listu", "Index")
</p>
