@model PAUP_zgrade.Models.zgrada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>zgrada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ulica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ulica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postanskibroj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postanskibroj)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idzgrada }) |
    @Html.ActionLink("Back to List", "Index")
</p>
