@model IEnumerable<PAUP_zgrade.Models.zgrada>

@{
    ViewBag.Title = "Lista zgrada";
}
@if (Session["email"] != null && Session["email"].ToString() == "upravitelj_zgradara@gmail.com")
{
<h2>Lista zgrada</h2>

<p>
    @Html.ActionLink("Dodaj zgradu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idzgrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postanskibroj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idzgrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postanskibroj)
        </td>
        <td>
            @Html.ActionLink("Promjena", "Edit", new { id = item.idzgrada }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.idzgrada }) |
            @Html.ActionLink("Obriši", "Delete", new { id = item.idzgrada })
        </td>
    </tr>
}

</table>}
        else {

<div class="jumbotron container">
    <h3>Stranica za upravitelja</h3>
    <p class="lead">Poštovani, ova stranica je samo za upravitelja zgrada. Ukoliko ste vi to upravitelju, molim prijavite se!</p>
</div>}