
@model PAUP_zgrade.Models.stanar

@{
    ViewBag.Title = "Prijava";
}

@using (Html.BeginForm("Prijava", "Prijava", FormMethod.Post))
{
        <br />
        <legend>Molim unesite svoj email i lozinku</legend>


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <table>
            <tr>
                <td>@Html.LabelFor(a => a.email)</td> 
                <td>@Html.TextBoxFor(a => a.email)</td> 
                <td>@Html.ValidationMessageFor(a => a.email)</td> 
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.password_stanara)
                </td>
                <td>
                    @Html.PasswordFor(a => a.password_stanara)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.password_stanara)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Prijava" />
                </td>
                <td></td>
            </tr>
        </table>

}
