@model PAUP_zgrade.Models.stanar

@{
    ViewBag.Title = "Detalji o stanaru";
}
@if (Session["email"] != null && Session["email"].ToString() == "upravitelj_zgradara@gmail.com")
{
<h2>Detalji o stanaru</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobitel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobitel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zgrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zgrada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Promjena", "Edit", new { id = Model.idstanar }) |
    @Html.ActionLink("Natrag na listu", "Index")
</p>
}
else
{

    <div class="jumbotron container">
        <h3>Stranica za upravitelja</h3>
        <p class="lead">Poštovani, ova stranica je samo za upravitelja zgrada. Ukoliko ste vi to upravitelju, molim prijavite se!</p>
    </div>}