@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"> </script>

@model IEnumerable<PAUP_zgrade.Models.stanar>

@{
    ViewBag.Title = "Lista stanara";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions ajaxOpcije = new AjaxOptions
    {
        UpdateTargetId = "listastanara",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get",
        LoadingElementId = "statusLabela",
        //Confirm = "Da li zelite osvjeziti popis?"

    };
}
@if (Session["email"] != null && Session["email"].ToString() == "upravitelj_zgradara@gmail.com")
{
<h2>Lista stanara</h2>

<p>
    @Html.ActionLink("Dodaj novog stanara", "Create")
</p>

using (@Ajax.BeginForm("stanariPartial", "stanars", ajaxOpcije
                           , new { @class = "form-inline", id = "form1" }))
{
    <div class="form-group">
        @Html.Label("stanari", new { @class = "sr-only", id = "form1" })
        @Html.TextBox("stanari", "", new { @class = "form-control", placeholder = "Ime ili prezime stanara" })
    </div>

    <div class="form-group">
        @Html.Label("zgrada", new { @class = "sr-only", id = "form1" })
        @Html.TextBox("zgrada", "", new { @class = "form-control", placeholder = "Broj zgrade stanara" })
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Traži
    </button><br />
    <label id="statusLabela" class="label label-warning" style="display:none">
        Dohvat podataka sa servera...
    </label>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idstanar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobitel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zgrada)
        </th>
        <th></th>
    </tr>

    <tbody id="listastanara">
        @Html.Action("stanariPartial", "stanars")
    </tbody>

</table>
}
else {

<div class="jumbotron container">
    <h3>Stranica za upravitelja</h3>
    <p class="lead">Poštovani, ova stranica je samo za upravitelja zgrada. Ukoliko ste vi to upravitelju, molim prijavite se!</p>
</div>}