@model PAUP_zgrade.Models.poruka

@{
    ViewBag.Title = "Modificiranje poruke";
}

<h2>Modificiranje poruke</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>poruka</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idporuka)

        <div class="form-group">
            @Html.LabelFor(model => model.temaPoruke, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.temaPoruke, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.temaPoruke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tijeloPoruke, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tijeloPoruke, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tijeloPoruke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.datumPoruke, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datumPoruke, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datumPoruke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.posiljateljPoruke, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.posiljateljPoruke, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.posiljateljPoruke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Natrag na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
