@model IEnumerable<PAUP_zgrade.Models.obavijesti>

@{
    ViewBag.Title = "Kontrola obavijesti";
}
@if (Session["email"] != null && Session["email"].ToString() == "upravitelj_zgradara@gmail.com")
{
<h2>Lista obavijesti i manipulacija</h2>

<p>
    @Html.ActionLink("Stvori novu obavijest", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idobavijesti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temaObavijest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tekstObavijest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datumObavijest)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idobavijesti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temaObavijest)
        </td>
        <td>
            @{
                string tijelo;
                if (item.tekstObavijest.ToString().Length > 100) {
                    tijelo = item.tekstObavijest.ToString().Substring(0, 100) + "..." ;
                }
                else {
                    tijelo = item.tekstObavijest;
                }
            }
            @tijelo

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datumObavijest)
        </td>
        <td>
            @Html.ActionLink("Izmjena", "Edit", new { id=item.idobavijesti }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.idobavijesti }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.idobavijesti })
        </td>
    </tr>
}

</table>
                }
                else
                {

                    <div class="jumbotron container">
                        <h3>Stranica za upravitelja</h3>
                        <p class="lead">Poštovani, ova stranica je samo za upravitelja zgrada.Ukoliko ste vi to upravitelju, molim prijavite se!</p>
                    </div>}