@model PAUP_zgrade.Models.financije

@{
    ViewBag.Title = "Nova financijska stavka";
}

<h2>Nova financijska stavka</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idfinancije, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idfinancije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idfinancije, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.datumFinancije, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datumFinancije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.datumFinancije, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vrijednostFinancije, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vrijednostFinancije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vrijednostFinancije, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.zgradaFinancija, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zgradaFinancija, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.zgradaFinancija, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.opisFinancije, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.opisFinancije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.opisFinancije, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.obavljenPosao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.obavljenPosao, "1") DA
                @Html.RadioButtonFor(model => model.obavljenPosao, "0") NE
                @*@Html.EditorFor(model => model.obavljenPosao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.obavljenPosao, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stvori" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Natrag na listu", "ListaFinancija")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
